//- Все примеси в этом файле должны начинаться c имени блока (page-news)

mixin page-news(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +page-news('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-news--' + modsList[i].trim();
      }
    }

  .page-news(class=allMods)&attributes(attributes)
    .page-news__inner
      block

mixin page-news-sliderItem(data, mod)

  -
    let thisItemClass = 'page-news__sliderItem';
    let thisItemId = 'page-news__sliderItem_' + data.id;
    if(mod == 'active') {
      thisItemClass += '  page-news__sliderItem--active';
    }

  div(class=thisItemClass id= thisItemId)
    span.page-news__prefix= data.prefix
    h2.page-news__title= data.title
    img.page-news__rectangle(src=data.rectangle, alt='decorate')
    span.page-news__date= data.date
    p.page-news__content= data.content
    +btn('BUY TICKETS', 'page-news__btn')

mixin page-news-item(data, mod)

  -
    let thisItemClass = 'page-news__item';
    let thisItemId = 'page-news__item_' + data.id;
    if(mod == 'active') {
      thisItemClass += '  page-news__item--active';
    }
  
  li(class= thisItemClass id=thisItemId)
    span.page-news__itemDate= data.date
    h2.page-news__itemTitle= data.title
    p.page-news__itemContent= data.content

